body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    width: 600px;
    max-width: 600px;
    margin: 4px auto;
}

div.matches {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
}

div.matches div.match {
    border: red solid 2px;
    border-radius: 5px;
    display: block;
    margin-bottom: 0.5em;
    padding: 1em;
}

div.matches div.match:hover {
    border-color: white;
    background: cornflowerblue;
    cursor: pointer;
}

#heading {
    text-align: center;
    display: block;
}

.status {
    display: flex;
    justify-content: space-between;
    background: darkgrey;
    line-height: 50px;
    padding: 5px 5px 5px 5px;
}

.black-status, .white-status {
    flex: 1;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.1em;
}

.black-status {
    text-align: right;
    color: black;
}

.white-status {
    color: white;
}

#board {
    margin-left: 2px;
    margin-right: 2px;
    padding: 0;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.indicator